*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	font-family: "Raleway", sans-serif;
}

html {
	scroll-behavior: smooth;
}
.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}
nav {
	text-transform: uppercase;
	transition: background-color 0.6s;
	z-index: 1;
	background-color: rgba(0, 0, 0, 0.301);
	.gold-text {
		color: rgb(211, 179, 0);
	}
	.nav-link,
	i {
		color: white;
	}
	.navbar-brand {
		color: white;
		font-weight: bold;
	}
	.nav-link:hover {
		color: rgb(211, 179, 0);
	}
	.navbar-brand:hover {
		color: white;
	}
	.navbar-nav {
		--bs-nav-link-hover-color: rgb(211, 179, 0);
	}
	.show {
		background-color: rgba(0, 0, 0, 0);
	}
}
header {
	color: white;

	h1,
	p {
		text-transform: uppercase;
	}
	.gold-text {
		color: rgb(211, 179, 0);
	}

	.hero-img {
		position: relative;
		height: 60vh;
		background-image: url("../img/header-medium.jpg");
		background-position: center;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;
	}
	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.4);
		z-index: -10;
	}
	.hero-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		height: 100%;
		padding: 10px;
		text-align: center;
		z-index: 5;
	}
}
.price {
	margin-left: auto;
	margin-right: auto;
	.card {
		margin: 20px 10px;
		padding: 30px;
		background-color: white;
		border: 3px solid rgba(0, 0, 0, 0.301);
		transition: transform 0.3s;
		align-items: center;
		button {
			width: 40%;
			text-transform: uppercase;
			background-color: rgb(211, 179, 0);
			border: none;
			box-shadow: rgba(211, 179, 0, 0.555) 5px 8px 8px;
		}
		p:nth-child(3) {
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	.card:hover {
		transform: scale(1.04);
	}
}
.team {
	.row {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.card {
		border: none;
	}
}

@media (min-width: 576px) {
	.offer {
		.carousel-inner {
			width: 100%;
			height: 100%;
		}
	}
}
@media (min-width: 768px) {
	.offer {
		.carousel-inner {
			width: 100%;
			h5 {
				font-size: 24px;
				font-weight: bold;
			}
			p {
			}
		}
	}
}
@media (min-width: 992px) {
	.offer {
		.carousel-inner {
			width: 100%;
			h5 {
				font-weight: bold;
			}
			p {
				font-size: 20px;
			}
		}
	}
}
@media (min-width: 1200px) {
	.offer {
		.carousel-inner {
			width: 100%;
			height: 700px;
			background-position: center;
			background-size: cover;
			h5 {
				font-weight: bold;
				font-size: 26px;
			}
			p {
				font-size: 24px;
			}
		}
	}
}
